.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px 0;
}

p {
    padding: 3px 0;
    cursor: pointer;
    font-size: 15px;
}

h3 {
    padding-bottom: 5px;
}