.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-msg {
  margin-bottom: 15px;
  text-align: center;
  color: green;
  font-size: 40px;
}

.insta-logo {
    display: flex;
    justify-content: center;
}

.form-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    padding: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 10px;
    width: 60%;
}

input {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 8px 5px;
}

button {
    padding: 10px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}