.header {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    background-color: black;
    color: white;
    align-items: center;
}

.listItem ul{
    display: flex;
}

.listItem ul li {
    list-style: none;
    padding: 0 20px;
    font-size: 20px;
    cursor: pointer;
}