* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.shoe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: black;
}